*~
*.bak
*.tmp
*.old
*.pyc
/xonstat/batch/badges/output/*.png
/xonstat/batch/badges/output/*/*.png
feeder/node_modules/
feeder/ql-match-jsons/
Thumbs.db
xonstat/static/images/icons/75x75/
nul
build/
feeder/cfg?*.json
feeder/typings/
feeder/obj/
feeder/bin/
feeder/.*
XonStat.egg-info/
feeder/temp/
qlstats.ini
feeder/mycfg.json
feeder/_ReSharper.Caches
